.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
  width: 80%;
  min-height: 90vh;
  background: transparent; 
  position: relative;
  z-index: 2; 
}


.about-text {
  max-width: 50%;
}

.about-text h2 {.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
  width: 80%;
  min-height: 90vh;
  background: transparent; 
  position: relative;
  z-index: 2; 
}

  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 400;
  color: #ad1457; 
 
}

.about-text h2 span {
  font-style: italic;
}

.about-text h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
  margin: 20px 0;
}

.about-text .highlight {
  color: #ad1457; 
  
}

.about-text h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ad1457; 
 
}

.about-text p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 30px;
  line-height: 1.6;
}

.cta-btn {
  padding: 12px 30px;
  background: #ad1457; 
  color: white;          
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #880e4f;  
}


.cta-btn:hover {
  color: #ad1457; 
}

.about-image img {
  width: 100%;
  object-fit: cover;
  border: 3px solid #ad1457; 
  border-radius: 15px;       
}


.about-image img {
  width: 80%;
  object-fit: cover;
}
