@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


.header {
  width: 100%;
  background: transparent; 
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background 0.4s ease, box-shadow 0.4s ease;
}


.header.scrolled {
  background: linear-gradient(180deg, #fff0f5, #fdeef3, #f8bbd0); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo span {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Satisfy', cursive;
  font-style: italic;
  color: #ad1457;
  padding: 5px 10px;
  border-radius: 5px;
}


.nav-links {
  display: flex;
  gap: 24px;
}


.nav-links a,
.nav-links button {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: #880e4f;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
}


.nav-links a:focus,
.nav-links button:focus {
  outline: none;
  border: none;
  border-radius: 0;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #ad1457;
}


.nav-links a:hover,
.nav-links button:hover {
  color: #ad1457;
  transform: translateY(-3px);
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
